#problem-ball {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color:#ffffff; 
    background: #ff2424;
    font-size:1.5em;
    text-align: center;
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    border: none;
    /* outline: none; */
}

#probem-panel{
    background-color: white;
    width: inherit;
    height: inherit;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    position: absolute;
    height: auto;
    overflow-y: scroll;
}

#close-button{
    left: 0;
    top: 0;
    display: none;
    border:none;
    background-color: transparent;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    text-decoration: underline;
}

#all-errors{
    display: none;
    color:black;
}