#editor_wrapper {
    position: relative;
    width: 450px;
    height: 600px;
    float: left;
    margin-top: 15px;
    margin-right: 30px;
    border: 1px solid lightgray;
}

#editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#show_context {
    z-index: 1;
}

#show_context > div {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 1);
    position: absolute;
    font-size: 70%;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 2;
}

#resizableNetwork {
    position: relative;
    margin-top: 15px;
    width: 600px;
    height: 600px;
    border: 1px solid lightgray;
    float: left;
}

#mynetwork {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#viewmodebutton {
    float: left;
    clear: left;
    margin-left: 10px;
    margin-top: 10px;
}

#viewmode {
    float: left;
    margin: 10px;
}

#fontSizeForm {
    float: left;
    margin: 10px;
}

#resetButton {
    position: absolute;
    left: 600px;
    top: 600px;
    margin-left: -80px;
    margin-top: 10px;
}

#BackButton {
    float: left;
    clear: left;
    margin-left: 10px;
}

#ForwardButton {
    float: left;
    margin-left: 10px;
}

#showingContextButton {
    float: left;
    margin-left: 10px;
}

#showingContext {
    float: left;
    margin-left: 10px;
}

#autoLayoutButton {
    float: left;
    margin-left: 10px;
}

#autoLayout {
    float: left;
    margin-left: 10px;
}

#console {
    float: left;
    clear: left;
}