#editor {
    width: 350px;
    height: 400px;
    float: left;
}

#mynetwork {
    width: 350px;
    height: 400px;
    border: 1px solid lightgray;
    float: left;
}

#button {
    float: left;
    clear: left;
}

#viewmode {
    float: left;
    margin-left: 10px;
}

#reset {
    float: right;
}

#console {
    float: left;
    clear: left;
}
