#callTree {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#mynetwork {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#menu-bar {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 100%;
    height: 40px;
}

#viewMode {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

#pullDownViewMode {
    float: left;
    display: flex;
    align-items: center;
}

#fontSizeForm {
    float: left;
    display: flex;
    align-items: center;
    border-left: solid darkgray;
    padding-left: 5px;
    padding-right: 5px;
}

#autoLayout {
    float: left;
    display: flex;
    align-items: center;
    border-left: solid darkgray;
    padding-left: 5px;
    padding-right: 5px;
}

#fileOperation {
    display: flex;
    align-items: center;
    border-left: solid darkgray;
    padding: 15px 5px 15px 5px;
}

#readInput {
    float: left;
    display: flex;
    align-items: center;
}

#saveButton {
    float: left;
    display: flex;
    align-items: center;
}

#redrawButton {
    margin-left: auto;
    margin-right: 10px;
    align-items: center;
    text-align: right;
}

#console {
    margin-left: 10px;
}

