#editor {
    width: 450px;
    height: 600px;
    float: left;
    margin-right: 30px;
}

#mynetwork {
    width: 600px;
    height: 600px;
    border: 1px solid lightgray;
    float: left;
}

#button {
    float: left;
    clear: left;
    margin: 10px;
}

#viewmode {
    float: left;
    margin: 10px;
}

#reset {
    float: right;
    margin: 10px;
}

#LinkedList {
    float: right;
    margin: 10px;
}

#BinaryTree {
    float: right;
    margin: 10px;
}

#console {
    float: left;
    clear: left;
}
